<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSO Example</title>
    <link rel="stylesheet" href="http://42py.com/css/TECH2IPO/init.css">
    <link rel="stylesheet" href="http://42py.com/css/TECH2IPO/index.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/const.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.zh_cn.js') }}"></script>
    <script src="{{ url_for('static', filename='js/async.js') }}"></script>
    <script src="{{ url_for('static', filename='js/avalon.js') }}"></script>
    <script src="{{ url_for('static', filename='js/head.js') }}"></script>
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/director.js') }}"></script>
    <script src="{{ url_for('static', filename='js/z42.js') }}"></script>
    <script src="{{ url_for('static', filename='js/slide.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.poshytip.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fancybox.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery_ext.js') }}"></script>
    <script src="{{ url_for('static', filename='js/reply.js') }}"></script>
    <script src="{{ url_for('static', filename='js/trim.js') }}"></script>
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
</head>
<body>
    {% if get_flashed_messages() %}
        {% for msg in get_flashed_messages() %}
            <h1>{{ msg }}</h1>
        {% endfor %}
    {% else %}
    <ul>
        <li><a onclick="javascript:$.SSO.user.login();void(0)">登录</a></li>
        <li><a onclick="javascript:$.SSO.user.new();void(0)">注册</a></li>
    </ul>
    <script>
        CONST.SSO = {
            ID: {{ g.app_id  }},
            QINIU: "//dn-acsso.qbox.me",
            URL: "//{{ g.sso_host }}"
        }
        $.SSO.user.login()
    </script>
    {% endif %}
</body>
</html>
